@import './general.css';
@import './aboutus.css';

.concert-card{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
    font-family: 'Rajdhani', sans-serif;
    margin: 20px;
}

.concert-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}